.about-section {
    height: auto;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.project-section {
    height: auto;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.contact-section {
    height: 400px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
